{{events |json}}

<div style="display: flex; flex-wrap: wrap; ">
    <mat-card *ngFor="let event of events">
        <mat-card-title color="primary">{{event.name}}</mat-card-title>
        <mat-card-subtitle>{{event.description}}</mat-card-subtitle>
        <mat-card-content>{{event.description}}</mat-card-content>
        <mat-card-actions align="end">
            <button mat-button>Buy tickets</button>

        </mat-card-actions>
        <mat-card-footer>{{event.date | date:'shortDate'}}</mat-card-footer>
    </mat-card>
</div>