<app-navbar></app-navbar>

<!-- <button mat-raised-button [matMenuTriggerFor]="afterMenu" routerLink="/events" routerLinkActive="mat-primary">Events</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-raised-button routerLink="/special" routerLinkActive="mat-primary">Special</button>

<button mat-raised-button routerLink="/login" routerLinkActive="mat-primary">Login</button>

<button mat-raised-button [matMenuTriggerFor]="beforeMenu" routerLink="/register" routerLinkActive="mat-primary">Register</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->


<router-outlet></router-outlet>