<!-- {{specialEvents |json}} -->

<div [className]="'container'">
    <div [className]="'item'" *ngFor="let event of specialEvents">
        <mat-card>
            <mat-card-title color="primary">{{event.name}}</mat-card-title>
            <mat-card-subtitle>{{event.description}}</mat-card-subtitle>
            <mat-card-content>{{event.description}}</mat-card-content>
            <mat-card-actions align="end">
                <button mat-button>Buy tickets</button>
            </mat-card-actions>
            <mat-card-footer>{{event.date | date:'shortDate'}}</mat-card-footer>
        </mat-card>
    </div>
</div>

<h2>Test</h2>
<!-- 
<mat-grid-list cols="3" rowHeight="4:5" gutterSize="2px">
    <mat-grid-tile *ngFor="let event of specialEvents">
        
        <mat-card>
            <mat-card-title>{{event.name}}</mat-card-title>
            <mat-card-subtitle>{{event.description}}</mat-card-subtitle>
            <mat-card-content>{{event.description}}</mat-card-content>
            <mat-card-actions align="end">
                <button mat-button>Buy tickets</button>
            </mat-card-actions>
            <mat-card-footer>{{event.date | date:'shortDate'}}</mat-card-footer>
        </mat-card>

    </mat-grid-tile>
</mat-grid-list> -->